flows.json
[{"id":"e182b7df.87ae9","type":"tab","label":"Arduino_Board","disabled":false,"info":""},{"id":"fae2f813.39929","type":"tab","label":"Central_Server","disabled":false,"info":""},{"id":"e738816c.c543f","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"cd8d5b59.61fc2","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"Breath_Analyzer_DB","tz":""},{"id":"7030ac8b.b9ffdc","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c1458f43.2272","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"514301a4.50412","type":"ui_tab","z":"","name":"Breath_Analyzer_UOA","icon":"dashboard","disabled":false,"hidden":false},{"id":"a3d5ac45.5163e8","type":"ui_group","z":"","name":"Breath_Analyzer_UOA","tab":"514301a4.50412","order":1,"disp":false,"width":"6","collapse":false},{"id":"f346b372.661e38","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e7a1e285.ebb2b","type":"ui_group","z":"","name":"Thermostat demo","tab":"22672bdc.103a5c","order":2,"disp":true,"width":"6"},{"id":"4ef1584d.95eff8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"22672bdc.103a5c","type":"ui_tab","z":"","name":"Test stuff","icon":"dashboard"},{"id":"22bb2281.bb7b3e","type":"serial in","z":"e182b7df.87ae9","name":"","serial":"e738816c.c543f","x":130,"y":320,"wires":[["ba105822.2c62b8","7aabd931.f8a37"]]},{"id":"9b2b5854.6c92f","type":"debug","z":"e182b7df.87ae9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":340,"wires":[]},{"id":"dfee3d75.71179","type":"mqtt in","z":"fae2f813.39929","name":"","topic":"Breath_Analyzer_UOA","qos":"0","datatype":"auto","broker":"7030ac8b.b9ffdc","x":120,"y":120,"wires":[["8a2de8db.dfe588"]]},{"id":"ba105822.2c62b8","type":"mqtt out","z":"e182b7df.87ae9","name":"","topic":"Breath_Analyzer_UOA","qos":"2","retain":"","broker":"7030ac8b.b9ffdc","x":650,"y":240,"wires":[]},{"id":"4aa1740d.666fec","type":"mysql","z":"fae2f813.39929","mydb":"cd8d5b59.61fc2","name":"","x":840,"y":360,"wires":[[]]},{"id":"14d680a7.af80cf","type":"debug","z":"fae2f813.39929","name":"from DB","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1050,"y":120,"wires":[]},{"id":"8a2de8db.dfe588","type":"json","z":"fae2f813.39929","name":"","property":"payload","action":"","pretty":false,"x":90,"y":220,"wires":[["5d898ebd.bbe1e"]]},{"id":"5d898ebd.bbe1e","type":"switch","z":"fae2f813.39929","name":"","property":"payload.driving_ability","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":220,"wires":[["28207266.81927e","4fbd7580.379ba4"],["360c1481.7ff68c"]]},{"id":"75579a8b.da8c1c","type":"debug","z":"fae2f813.39929","name":"Print Value","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":440,"wires":[]},{"id":"42c71226.d6a174","type":"e-mail out","z":"fae2f813.39929","server":"smtp.gmail.com","port":"465","secure":true,"name":"evangelos.siatiras@gmail.com","dname":"","x":1150,"y":200,"wires":[[]]},{"id":"c302de2d.a784f","type":"mysql","z":"fae2f813.39929","mydb":"cd8d5b59.61fc2","name":"","x":820,"y":120,"wires":[["14d680a7.af80cf","ee91c78a.4ef538"]]},{"id":"b407b851.fab5e","type":"debug","z":"fae2f813.39929","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":260,"wires":[]},{"id":"ee91c78a.4ef538","type":"python3-function","z":"fae2f813.39929","name":"Create Mail","func":"import json\n\npayload = msg['payload'][0]\n\nmail = \"Dear \"+str(payload.get(\"Secondary_Driver_Name\"))+\",\\nKindly get in touch with \"+str (payload.get(\"Driver_Name\"))+\" through \"+ str (payload.get(\"Driver_Contact_Info\"))+\" as he/she is not able to drive! \\n\"\n\nmsg['topic'] = \"Critical Alert for \"+ str(payload.get('Driver_Name'))+ \"!!!\"\nmsg['to'] = str(payload.get('Secondary_Driver_Contact_Info'))\nmsg['body'] = str(mail)\n\nreturn msg","outputs":1,"x":890,"y":200,"wires":[["b407b851.fab5e","42c71226.d6a174"]]},{"id":"360c1481.7ff68c","type":"switch","z":"fae2f813.39929","name":"Non Zero Measurement","property":"payload.measurement","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":360,"wires":[["75579a8b.da8c1c","28207266.81927e"]]},{"id":"28207266.81927e","type":"template","z":"fae2f813.39929","name":"Store To DB","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"insert into alcohol_stats (serial_no,state,measurement,timestamp) values ('{{payload.serial_no}}','{{payload.driving_ability}}','{{payload.measurement}}',CURRENT_TIMESTAMP);","output":"str","x":570,"y":320,"wires":[["4aa1740d.666fec","544c0a81.2a06f4"]]},{"id":"544c0a81.2a06f4","type":"debug","z":"fae2f813.39929","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":340,"wires":[]},{"id":"43af5f.b0e228a","type":"change","z":"e182b7df.87ae9","name":"Get_Measurement","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.measurement","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":440,"wires":[["ddb693c.73ea27"]]},{"id":"7aabd931.f8a37","type":"json","z":"e182b7df.87ae9","name":"","property":"payload","action":"","pretty":false,"x":370,"y":440,"wires":[["43af5f.b0e228a","ce139ee9.a75028","9b2b5854.6c92f","124c2a0e.8620be"]]},{"id":"ddb693c.73ea27","type":"ui_gauge","z":"e182b7df.87ae9","name":"","group":"a3d5ac45.5163e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Alcohol in BAC","label":"units","format":"{{mesurement}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0.24","seg2":"1","x":920,"y":440,"wires":[]},{"id":"ce139ee9.a75028","type":"ui_text","z":"e182b7df.87ae9","group":"a3d5ac45.5163e8","order":2,"width":0,"height":0,"name":"","label":"Value","format":"{{msg.payload.measurement}}","layout":"col-center","x":650,"y":580,"wires":[]},{"id":"21beb089.32bd7","type":"ui_toast","z":"e182b7df.87ae9","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Driving_Ability","name":"Driving_Ability","x":1200,"y":500,"wires":[]},{"id":"124c2a0e.8620be","type":"change","z":"e182b7df.87ae9","name":"Form_Driving_Ability","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.driving_ability","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Driving_Ability","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":480,"wires":[["650964f1.b99dec"]]},{"id":"650964f1.b99dec","type":"python3-function","z":"e182b7df.87ae9","name":"Define Result","func":"\nif msg['payload'] == 0:\n    msg['payload'] = \"Alcohol Test FAILED\"\nelse :\n     msg['payload'] = \"Alcohol Test PASSED\"\n\nreturn msg","outputs":1,"x":930,"y":500,"wires":[["21beb089.32bd7"]]},{"id":"4fbd7580.379ba4","type":"template","z":"fae2f813.39929","name":"Retrieve Contact Info","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select * from account_details  where Serial_No = '{{payload.serial_no}}';\n","output":"str","x":520,"y":120,"wires":[["c302de2d.a784f"]]}]